<div class="p-5 pl-20">
  <h2 class="text-lg font-bold mb-4">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { turbo: false } }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field my-3 w-72">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
    </div>
    
    <div class="field my-3 w-72">
      <%= f.label :username %><br />
      <%= f.text_field :username, required: true, autocomplete: "username", class: "input input-bordered" %>
    </div>
    
    <div class="field my-3 w-72">
      <div class="flex items-center gap-2">
        <%= f.label :profile_photo %>
        <% if resource.profile_photo.attached? && resource.profile_photo.blob.persisted? %>
          <%= image_tag resource.profile_photo, width: 100, height: 100 %>
          <span class="inline-block mt-2">Current file: '<%= resource.profile_photo.filename %>'</span>
        <% else %>
          <p class="text-sm italic">- You have no current profile photo</p>
        <% end %>
      </div>
        <%= f.file_field :profile_photo %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>


    <div class="field my-3 w-72" data-controller="input-visibility">
      <%= f.label :password, "New password" %> <i class="text-sm italic">(leave blank if you don't want to change it)</i><br />
      <div class="relative w-full">
        <%= f.password_field :password, {
          autocomplete: "new-password",
          id: "new-password",
          class: "input input-bordered",
          data: { input_visibility_target: "input" }
        }%>
        <i class="fa-solid fa-eye absolute top-1/2 -translate-y-1/2 right-1 cursor-pointer text-gray-600 text-sm p-2"
          data-input-visibility-target="toggleIcon"
          data-action="input-visibility#toggle click->input-visibility#toggle"
          tabindex="0"
          role="button"
          aria-label="Toggle password visibility"
        ></i>
      </div>
      <% if @minimum_password_length %>
        <br />
        <em class="text-sm italic"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field my-3 w-72" data-controller="input-visibility">
      <%= f.label :password_confirmation, "New password confirmation" %><br />
      <div class="relative w-full">
        <%= f.password_field :password_confirmation, {
          autocomplete: "new-password",
          id: "new-password-confirmation",
          class: "input input-bordered",
          data: { input_visibility_target: "input" }
        }%>
        <i class="fa-solid fa-eye absolute top-1/2 -translate-y-1/2 right-1 cursor-pointer text-gray-600 text-sm p-2"
          data-input-visibility-target="toggleIcon"
          data-action="input-visibility#toggle click->input-visibility#toggle"
          tabindex="0"
          role="button"
          aria-label="Toggle password visibility"
        ></i>
      </div>
    </div>

    <div class="field mt-3 w-72" data-controller="input-visibility">
      <%= f.label :current_password %> <i class="text-sm italic">(we need your current password to confirm your changes)</i><br />
      <div class="relative w-full">
        <%= f.password_field :current_password, {
          autocomplete: "current-password",
          id: "current-password",
          class: "input input-bordered",
          data: { input_visibility_target: "input" }
        }%>
        <i class="fa-solid fa-eye absolute top-1/2 -translate-y-1/2 right-1 cursor-pointer text-gray-600 text-sm p-2"
          data-input-visibility-target="toggleIcon"
          data-action="input-visibility#toggle click->input-visibility#toggle"
          tabindex="0"
          role="button"
          aria-label="Toggle password visibility"
        ></i>
      </div>
    </div>


    <div class="actions mb-6">
      <%= f.submit "Update", class: "btn btn-sm btn-primary my-2" %>
    </div>
  <% end %>

  <div class="">
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "link" %>
  </div>

  <%= link_to "Back", :back, class: "link" %>
</div>