<div class="flex px-4 pt-2 items-center", id="new-post-<%= post.id %>-comment">
  <div class="user-avatar">
    <%= image_tag(current_user.profile_photo.variant(:avatar),
      class: "w-12 h-12 rounded-full overflow-hidden mr-2") %>
  </div>
  <div class="comment-text flex-grow">
    <%= form_with model: [post, comment], url: post_comments_path(post), data: { turbo: true } do |f| %>
      <div class="flex flex-row items-center">
        <%= f.text_field :body, placeholder: "Add a comment...",
          class: "border-none rounded-full h-11 w-full bg-gray-100 pr-10", value: "" %>
        <%= button_tag(type: 'submit', class: "submit-button-class") do %>
          <i class="-ml-14 px-4 fa-regular fa-paper-plane"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>