<turbo-frame id="conversations" data-controller="notifications conversations" data-notifications-current-user-id-value="<%= current_user.id %>"
  data-conversations-current-user-id-value="<%= current_user.id %>">
  <details id="conversations-dropdown" class="dropdown dropdown-end w-11 h-11 mr-2 flex justify-center items-center
    rounded-full ring-offset-2 ring-red-300"
    data-notifications-target="dropdown">
    <summary class="btn bg-slate-100 hover:bg-slate-200 size-11 min-h-11 border-none rounded-full"
      title="Conversations">
      <i class="items-center fa-brands fa-facebook-messenger text-xl "></i>
    </summary>
    <div class="shadow menu dropdown-content flex flex-col flex-nowrap z-[1] bg-base-100 rounded-box mt-2 w-72 max-h-72">
      <h3 class="text-lg font-bold m-2">Chats</h3>
      <div id="conversations-container" class="overflow-auto rounded-b-lg">
        <% if conversations.empty? %>
          <p class="px-3 pb-2">💬 with <%= link_to "users", users_path %> via the <i class="fa-brands fa-facebook-messenger text-blue-500"></i> button on their profile page.</p>
        <% end %>
        <% conversations.order(updated_at: :desc).each do |conversation| %>
          <div id="conversation_<%= conversation.id %>" class="my-1">
            <%= link_to open_conversation_card_path(conversation.id), class: "flex w-full items-center", data: { turbo_stream: true, turbo_frame: "conversation-card" } do %>
              <%= image_tag conversation.other_participant(current_user).profile_photo, class: "w-11 h-11 rounded-full object-cover" %>
              <div class="ml-2 w-full">
                <h4 class="font-bold text-left"><%= conversation.other_participant(current_user).username %></h4>
                <% if conversation.messages.any? %>
                  <div class="flex justify-between pr-1 text-gray-600 text-xs">
                    <p><%= conversation.messages.last.body.truncate(22) %></p>
                    <span>· <%= time_ago_in_words(conversation.messages.last.created_at) %> ago</span>
                  </div>
                <% end %>  
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </details>
</turbo-frame>