<div class="card w-60 h-80 bg-base-100 shadow-md">
  <figure class="">
    <%= image_tag user.profile_photo.representation(resize_to_fill: [400, 400]).processed,
      class: "object-cover h-48 w-full" %>
  </figure>
  <div class="card-body h-40 px-3 py-1">
    <h2 class="card-title"><%= user.username %></h2>
    <div class="common-follows">
      <p class="prose text-sm text-left">common follow pics</p>
      <%#= current_user.follows_in_common(user) %>
      <p class="prose text-sm text-left">x follows in common</p>
    </div>
    <div class="card-actions">
      <% if current_user.followed_users.include?(user) %>
        <%= turbo_frame_tag "follow_action_button_#{user.id}", class: "grow" do %>
          <%= render "users/unfollow_button", user: user,
            context: 'user_card' %>
        <% end %>  
      <% else %>
        <%= turbo_frame_tag "follow_action_button_#{user.id}", class: "grow" do %>
          <%= render "users/follow_button", user: user,
            current_user: current_user, context: 'user_card' %>
        <% end %>  
      <% end %>
    </div>
  </div>
</div>