<div class="max-w-[1250px] mx-auto">
  <section class="header">

    <div class="background-image h-[450px] object-fill rounded-b-md object-center overflow-hidden z-0">
      <%= image_tag 'backgrounds/bg_1.jpg', alt: "background image", class: "" %>
    </div>
    
    <div class="header-info mx-8 flex mt-6">
      <div class="profile-photo -mt-28 relative z-10">
        <% if @user.profile_photo.attached? %>
          <%= image_tag @user.profile_photo, alt: "user profile photo", class: "rounded-full size-48 border-4 border-white"%>
        <% else %>
          <i class="fa-regular fa-user text-center content-center text-6xl rounded-full size-48 border-4 border-white bg-gray-300"></i>
        <% end %>  
      </div>

      <div class="text ml-4">
        <h2 class="text font-semibold text-2xl"><%= @user.username %></h2>
        <p class="mt-1 text-sm font-semibold text-slate-500"><%= pluralize(@friends.count, 'friend') %></p>
      </div>

<!-- if conversation exists already then call conversations#show with convo ID -->
<!-- otherwise 1) create new conversation and 2) then call conversations#show with convo ID -->
      <div class="header-actions ml-auto">
        <%= button_to message_user_path, method: :post, params: { recipient_id: @user.id },
          class:"m-1 btn btn-primary bg-blue-600 hover:bg-blue-700" do %>
          <i class="fa-brands fa-facebook-messenger"></i>
          <span>Message</span>
        <% end %>
        
      </div>
      
    </div>
  </section>

  <div class="mx-8 mt-8 grid grid-cols-2 gap-2">
    <hr class="border-slate-300 col-span-2 mb-6">

    <section class="left-col col-span-1">

      <div class="intro card rounded-lg bg-base-100">
        <div class="card-body p-6">
          <header class="card-title">
            <h2 class="text-lg font-semibold mb-1">Intro</h2>
          </header>
          <div class="content">
            <ul>
              <li class="mb-1">
                <i class="fa-solid fa-tree-city text-slate-400 text-sm"></i>
                <span class="ml-2 text-sm">From London, United Kingdom</span>
              </li>
              <li>
                <i class="fa-solid fa-user-group text-slate-400 text-sm"></i>
                <span class="ml-2 text-sm"><%= pluralize(@common_friends.count, 'friend') %> in common</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="photos card rounded-lg bg-base-100 mt-4 pb-4 max-h-[800px]">
        <div class="card-body p-6">
          <h2 class="card-title text-lg font-semibold mb-2">Recent photos</h2>
          <div class="flex flex-wrap gap-2 rounded max-h-[700px] overflow-auto">
            <% @user.posts.each do |post| %>
              <% post.photos.each do |photo| %>
                <%= image_tag photo, class: "size-[175px]", alt: "a post photo" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="friends card rounded-lg bg-base-100 mt-4 max-h-[600px]">
        <div class="card-body p-6">
          <h2 class="card-title text-lg font-semibold mb-2">Friends</h2> <!-- Friends == followers & following -->
          <div class="flex flex-wrap gap-2 rounded max-h-[510px] overflow-auto">
            <% @friends.each do |friend| %>
              <% if friend.profile_photo.attached? %>
                <%= image_tag friend.profile_photo, class: "size-[175px]", alt: "friends profile photo" %>
              <% else %>
                <i class="fa-regular fa-user size-[175px] text-center text-8xl content-center bg-slate-100"></i>
              <% end %>  
            <% end %>  
          </div>
        </div>
      </div>

    </section>

    <section class="right-col">
      
      <div class="header flex items-center">
        <h1 class="text-lg font-semibold">Posts</h1>
        <details class="dropdown ml-auto">
          <summary class="m-1 btn">Filters</summary>
          <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
          </ul>
        </details>
      </div>
        
      <%= turbo_frame_tag "posts", class: "my-10 posts" do %>
        <% @user.posts.each do |post| %>
          <%= render 'posts/post_card', post: post %>
        <% end %>
      <% end %>

    </section>
  </div>
</div>