<div class="flex flex-col md:flex-row justify-between mt-2 md:mt-6 max-w-screen-xl mx-auto">
  <div class="form-content p-5 w-[280px] mx-auto">
    <h2 class="text-lg font-bold mb-4">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-[380px]", data: { turbo: false } }) do |f| %>
      <div class="field my-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
      </div>

      <div class="field my-2">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "checkbox" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-sm btn-primary my-2" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <%= render 'layouts/demo_account' %>
  </div>


  <div class="welcome-content flex flex-col justify-items-center p-5 sm:pl-0 max-w-screen-xl mx-auto">
    <%= render 'layouts/welcome' %>
  </div>

</div>