<div class="card bg-base-100 shadow-xl my-10" id="new_post_card">
  <div class="card-body pt-8 pb-6">
    <div data-controller="new-post-photo">
      <%= form_with model: [@user, Post.new], url: user_posts_path(@user), multipart: true,
        data: { turbo: true, "new-post-photo-target": "form" } do |f| %>
        <div class="flex flex-row items-center">
          <%= f.text_field :body, placeholder: "Whats on your mind #{@user.username}?", class: "border-none rounded-full h-11 w-full bg-gray-100" %>
          <%= f.submit class: "btn btn-sm ml-2" %>
        </div>
          <div data-new-post-photo-target="fileInput">
          </div>
          <div data-new-post-photo-target="previews">
          </div>
      <% end %>
      <hr class="my-2">
      <div class="card-actions justify-between px-24">
        <%#= link_to image_tag('icons/video.png', alt: 'video icon', height: '24', width: '24'), root_path, id: 'video-action' %>
        <%= link_to root_path, id: 'photo-action' do %>
          <i class="fa-solid fa-video text-xl text-red-500"></i>
        <% end %>
        
        <%#= link_to image_tag('icons/gallery.png', alt: 'photo icon', height: '24', width: '24'), root_path, data: { action: "click->new-post-photo#loadFileInput" }, id: 'gallery-action' %>  
        <%= link_to root_path, data: { action: "click->new-post-photo#loadFileInput" }, id: 'gallery-action' do %>
          <i class="fa-regular fa-image text-xl text-green-500"></i>
        <% end %>
        
        <%#= link_to image_tag('icons/smiling-face.png', alt: 'feeling icon', height: '24', width: '24'), root_path, id: 'feeling-action' %>
        <%= link_to root_path, id: 'feeling-action' do %>
          <i class="fa-regular fa-face-smile text-xl text-yellow-500"></i>
        <% end %>
        
      </div>
    </div>
  </div>
</div>