<div class="card min-w-[628px] max-w-[800px] bg-base-100 shadow-xl">
  <div class="card-body pt-8 pb-6">
    <%= form_with model: [@user, @post] do |f| %>
      <div class="flex flex-row items-center">
        <%= f.text_field :body, placeholder: "Whats on your mind #{@user.username}?", class: "border-none rounded-full h-11 w-full bg-gray-100" %>
        <%= f.submit class: "btn btn-sm ml-2" %>
      </div>
    <% end %>
    <hr class="my-2">
    <div class="card-actions justify-between px-24">
      <%= image_tag 'video.png', alt: 'video icon', id: 'video-action', height: '24', width: '24' %>
      <%= image_tag 'gallery.png', alt: 'photo icon', id: 'gallery-action', height: '24', width: '24' %>
      <%= image_tag 'smiling-face.png', alt: 'feeling icon', id: 'feeling-action', height: '24', width: '24' %>
    </div>
  </div>
</div>

  