<div class="post-card bg-base-100 shadow-xl my-4 rounded-lg" id="post-<%= post.id %>-card">
  <div class="card-body pt-8 pb-6">

    <section class="header">
      <section class="flex flex-row">
        <div class="w-14 h-14 content-center rounded-full overflow-hidden mr-2 bg-slate-200">
          <% if current_user.profile_photo.attached? %>
            <%= link_to image_tag(post.owner.profile_photo.variant(:avatar), class: "object-cover"),
              user_path(post.owner), data: { turbo: false } %>
            <%#= image_tag(post.owner.profile_photo.variant(:avatar), class: "object-cover") %>
          <% else %>
            <i class="fa-regular fa-user text-center text-xl"></i>
          <% end %>  
        </div>
        <div class="flex flex-row">
          <div class="flex flex-col items-start mr-2">
            <h3 class="text-md font-bold mb-2"><%= post.owner.username %></h3>
            <p class="text-xs"><%= distance_of_time_in_words(Time.now - post.created_at) %> ago</p>
          </div>
          <div class="self-start">
            <% unless post.owner == current_user %>
              <% if current_user.followed_users.include?(post.owner) %>
                <%= turbo_frame_tag "follow_action_button_#{post.owner.id}_#{post.id}", class: "grow" do %>
                  <%= render "users/unfollow_button", user: post.owner, post: post,
                    context: 'post_card' %>
                <% end %>  
              <% else %> <!--Condition never met as only own and followed_users posts are rendered so-->
                <%= turbo_frame_tag "follow_action_button_#{post.owner.id}_#{post.id}", class: "grow" do %>
                  <%= render "users/follow_button", user: post.owner, post: post,
                    current_user: current_user, context: 'post_card' %>
                <% end %>  
              <% end %>
            <% end %>  
          </div>
        </div>
      </section>
    </section>
    
    <section class="mt-2 body">
      <p class="text-left"><%= post.body %></p>
    </section>
    
    <% if post.photos.present? %>
      <section class="grid grid-cols-2 gap-2 justify-items-center images">
        <% post.photos.each_with_index do |photo, index| %>
          <% modal_id = "photo_modal_#{post.id}_#{photo.id}" %>
          <div class="overflow-hidden flex rounded-md hover:cursor-pointer" data-modal-id="<%= modal_id %>">
            <%= image_tag(photo.variant(:medium), loading: "lazy",
              class: "") %> <!-- alternatively; photo.representation(resize_to_fill: [400, 400]) -->
          </div>
          <dialog id="<%= modal_id %>" class="modal">
            <div class="modal-box max-w-full max-h-none w-[700px] h-[700px]">
              <%= image_tag(photo, loading: "lazy",
                class: "w-full h-full object-cover") %>
            </div>
            <form method="dialog" class="modal-backdrop">
              <button class=""></button>
            </form>
          </dialog>
        <% end %>  
      </section>
    <% end %>

    <div data-controller="comment">
      <section class="actions">
        <div class="flex justify-between px-24">
          <div class="flex items-center" >
            <%= image_tag('icons/like2.png', alt: 'like icon', height: '24', width: '24', class: "mx-1") %>
            <span id="post-<%= post.id %>-like-count"><%= pluralize(post.likes.count, 'like') %></span>
          </div>
          <div class="">
            <%= render 'comments/count', post: post %>
          </div>
        </div>
        <hr class="my-2">
        <div class="card-actions justify-between px-24">
          <div class="flex flex-row items-center">
            <%= button_to post_likes_path(post), method: :post, remote: true,
              form: { "data-turbo-frame" => "like_action_#{post.id}" }, id: 'like-action',
              class: "mx-1 hover:cursor-pointer" do %>
              <i class="fa-regular fa-thumbs-up text-xl"></i>
              <span class="ml-2">Like</span>
            <% end %>
          </div>
          <div class="flex flex-row items-center">
            <%= link_to "#", data: { action: "click->comment#toggle" },
              class: "mx-1 hover:cursor-pointer" do %>
              <i class="fa-regular fa-comment text-xl"></i>
              <span class="ml-1">Comment</span>
            <% end %>
          </div>
          <div class="flex flex-row items-center">
            <i class="fa-regular fa-paper-plane text-xl"></i>
            <span class="ml-2">Send</span>
          </div>
        </div>
      </section>

      <section class="comments">
        <div data-comment-target="form", class="">
          <%= render 'comments/form', comment: Comment.new, post: post %>
        </div>

        <%= turbo_frame_tag "new-post-#{post.id}-comment" %>

        <!-- turbo rendered new comment form goes here -->

        <div class="post-comments">
          <% if post.comments.any? %>
            <% post.comments.order(:created_at).each do |comment| %>
              <%= render 'comments/comment', comment: comment %>
            <% end %>
          <% end %>
        
          <%= turbo_frame_tag "post-#{post.id}-comments" %>
          <!-- turbo rendered comments go here -->
        </div>
      </section>
    </div>
  </div>
</div>