<div class="card bg-base-100 shadow-xl my-4">
  <div class="card-body pt-8 pb-6">

    <section id="header">
      <section class="flex flex-row">
        <div class="w-14 h-14 rounded-full overflow-hidden mr-2">
          <%= image_tag post.owner.profile_photo, class: "object-cover" %>
        </div>
        <div class="flex flex-row">
          <div class="flex flex-col items-start mr-2">
            <h3 class="text-md font-bold mb-2"><%= post.owner.username %></h3>
            <p class="text-xs"><%= distance_of_time_in_words(Time.now - post.created_at) %> ago</p>
          </div>
          <div class="self-start">
            <% unless post.owner == current_user %>
              <% if current_user.followed_users.include?(post.owner) %>
                <%= turbo_frame_tag "follow_action_button_#{post.owner.id}_#{post.id}", class: "grow" do %>
                  <%= render "users/unfollow_button", user: post.owner, post: post,
                    context: 'post_card' %>
                <% end %>  
              <% else %>
                <%= turbo_frame_tag "follow_action_button_#{post.owner.id}_#{post.id}", class: "grow" do %>
                  <%= render "users/follow_button", user: post.owner, post: post,
                    current_user: current_user, context: 'post_card' %>
                <% end %>  
              <% end %>
            <% end %>  
          </div>
        </div>
      </section>
    </section>
    
    <section id="body" class="mt-2">
      <p class="text-left"><%= post.body %></p>
    </section>
    
    <% if post.photos.present? %>
      <section id="images" class="grid grid-cols-2 gap-2 justify-items-center">
        <% post.photos.each_with_index do |photo, index| %>
          <% modal_id = "photo_modal_#{post.id}_#{photo.id}" %>
          <div class="overflow-hidden flex rounded-md hover:cursor-pointer" data-modal-id="<%= modal_id %>">
            <%= image_tag(photo.representation(resize_to_fill: [400, 400]).processed, class: "object-cover") %>
          </div>
          <dialog id="<%= modal_id %>" class="modal">
            <div class="modal-box">
              <%= image_tag(photo.representation(resize_to_fill: [2000, 2000]).processed, class: "object-cover") %>
            </div>
            <form method="dialog" class="modal-backdrop">
              <button class="">✕</button>
            </form>
          </dialog>
        <% end %>  
      </section>
    <% end %>


    <section id="post-actions">
      <div class="card-actions justify-between px-24">
        <div class="flex flex-row items-center">
          <%= link_to image_tag('icons/haha.png', alt: 'funny icon', height: '24', width: '24'), root_path, id: 'laughs', class: "mx-1" %>
          <%= link_to image_tag('icons/like2.png', alt: 'like icon', height: '24', width: '24'), root_path, id: 'likes', class: "mx-1" %>
        </div>
        <div class="flex flex-row items-center">
          <p class="mx-1">#Comments</p>
          <p class="mx-1">#Shares</p>
        </div>
      </div>
      <hr class="my-2">
      <div class="card-actions justify-between px-24">
        <div class="flex flex-row items-center">
          <%= link_to image_tag('icons/like.png', alt: 'thumbs up icon', height: '24', width: '24'), root_path, id: 'like-action' %>
          <span class="ml-2">Like</span>
        </div>
        <div class="flex flex-row items-center">
          <%= link_to image_tag('icons/chat.png', alt: 'chat icon', height: '24', width: '24'), root_path, id: 'comment-action' %>
          <span class="ml-2">Comment</span>
        </div>
        <div class="flex flex-row items-center">
          <%= link_to image_tag('icons/send.png', alt: 'send icon', height: '24', width: '24'), root_path, id: 'send-action' %>
          <span class="ml-2">Send</span>
        </div>
      </div>
    </section>

  </div>
</div>