<div class="flex">
  
  <div class="hidden fixed xl:flex w-full min-w-[280px] max-w-[350px] p-5 text-left">
    <%= render "layouts/sidebar_left" %>
  </div>
  
  <div class="flex-grow shrink p-6 md:mx-10 lg:mx-auto md:px-2 max-w-[850px] text-center">
    <section>
      <div>
        <%= render 'new_post_card' %>
      </div>
    </section>
    <section>
      <% if @posts.empty? %>
        <%= render 'no_posts' %>
      <% elsif @posts.any? %>
        <%= turbo_frame_tag "posts", class: "my-10" do %>
          <%= render 'posts' %>
        <% end %>

        <%= turbo_frame_tag "pagination",
          loading: :lazy,
          src: user_posts_path(@user ,format: :turbo_stream, page: (@pagy.next || 1)) %>
      <% end %>
    </section>
  </div>
  
  <div class="hidden fixed right-0 2xl:flex w-full min-w-[280px] max-w-[350px] p-5 text-right">
    <%= render "layouts/sidebar_right" %> 
  </div>

</div>      

