<div class="navbar fixed h-6 py-0 z-50 bg-base-200 drop-shadow flex justify-between">
  <div class="pl-6 2xl:pl-16" id="left-section">
    <div class="brand-logo mr-3 flex-shrink-0">
      <%= link_to image_tag('icons/facebook.png', width: "42", height: "42", class:""), root_path %>
    </div>
    <div class="hidden md:block search-field mr-4">
      <input type="text" placeholder="     Search" class="border-none rounded-full h-[40px] bg-neutral-200">
       <i class="fas fa-search -ml-48 pt-3 absolute" style="color: gray;"></i>
    </div>
    <%= turbo_frame_tag "flash_messages" do %>
        <%= render 'layouts/flash' %>
    <% end %>
    <%#= params %>
  </div>

  <div class="w-48 flex justify-around" id="center-section">
    <div class="home">
      <%= link_to root_path, title: "Home" do %>
        <i class="fa-solid fa-house text-blue-600 sm:mx-4"></i>
      <% end %>
    </div>
    <div class="users">
      <%= link_to users_path, title: "All users" do %>
        <i class="fa-solid fa-user-group text-blue-600 sm:mx-4"></i>
      <% end %>
    </div>
  </div>
  
  <div class="pr-6 2xl:pr-16" id="right-section">
    <div class="hidden sm:flex sm:flex-nowrap theme-toggle mx-5">
      <label for="theme-toggle" class="text-sm italic text-nowrap mr-2">Toggle theme</label>
      <input type="checkbox" value="cupcake" name="theme-toggle"
        title="Colour theme" class="toggle toggle-sm theme-controller"/>
    </div>

    <% if user_signed_in? && @conversations %>
      <%= render 'conversations/conversations', conversations: @conversations %>
    <% end %>
    
    <ul class="hidden sm:flex flex-row py-0 menu menu-horizontal items-center">
      <% if user_signed_in? %>
        <%= render 'layouts/profile_dropdown' %>
      <% else %>
        <% unless current_page?(new_user_session_path)  %>
          <li><%= link_to "Log in", new_user_session_path, class: "btn btn-sm w-[78px]" %></li>
        <% end %>
        <% unless current_page?(new_user_registration_path) %> 
          <li><%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm w-[78px]" %></li>
        <% end %>  
      <% end %>
    </ul>

    <details class="dropdown dropdown-end sm:hidden">
      <summary class="btn">
        <i class="fa-solid fa-bars"></i>
      </summary>
      <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">

        <% unless user_signed_in? %>
          <% unless current_page?(new_user_session_path) %>
            <li><%= link_to "Login", new_user_session_path, class: "btn btn-sm" %></li>
          <% end %>
          <% unless current_page?(new_user_registration_path) %> 
            <li><%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm" %></li>
          <% end %>  
        <% end %>

        <% if user_signed_in? %>
          <li><a href="<%= edit_user_registration_path %>">Edit profile</a></li>
          <li><%= button_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>

        <div class="theme-toggle">
          <li class="flex flex-row flex-nowrap items-center px-4">
            <input type="checkbox" value="cupcake" name="theme-toggle" class="toggle toggle-sm theme-controller"/>
            <label for="theme-toggle" class="text-sm italic text-nowrap pl-2">Toggle theme</label>
          </li>
        </div>
      </ul>
    </details>

  </div>
</div>