<div class="navbar h-6 py-0 bg-white drop-shadow flex justify-between">
  <div class="pl-6 2xl:pl-16" id="left-section">
    <div class="brand-logo mr-4">
      <%= link_to image_tag('icons/facebook.png', width: "42", height: "42"), root_path %>
    </div>
    <div class="search-field">
      <input type="text" placeholder="     Search" class="border-none rounded-full h-[40px] bg-gray-100">
       <i class="fas fa-search -ml-48 pt-3 absolute" style="color: gray;"></i>
    </div>
    <div class="flash">
      <% if notice %>
        <i class="alert alert-info mr-2 h-10 flex items-center"><%= notice %></i>
      <% end %>
      <% if alert %>
        <i class="alert alert-warning mr-2 h-10 flex items-center"><%= alert %></i>
      <% end %>
    </div>
  </div>
  
  <div class="pr-6 2xl:pr-16" id="right-section">

    <label for="theme-toggle" class="pr-2 text-sm italic">Toggle theme</label>
    <input type="checkbox" value="cupcake" name="theme-toggle" class="toggle toggle-sm theme-controller"/>
    
    <ul class="flex flex-row py-0 menu menu-horizontal items-center">
      <% unless user_signed_in? %>
        <% unless current_page?(new_user_session_path)  %>
          <li><%= link_to "Login", new_user_session_path, class: "btn btn-sm mr-2" %></li>
        <% end %>
        <% unless current_page?(new_user_registration_path) %> 
          <li><%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm mr-2" %></li>
        <% end %>  
      <% end %>

      <% if user_signed_in? %>
        <div class="profile-photo-dropdown">
          <details class="dropdown dropdown-end">
            <summary class="m-1 flex items-center justify-center w-12 h-12 rounded-full overflow-hidden">
              <%= image_tag current_user.profile_photo, class: "object-cover w-full" %>
            </summary>
            <ul class="shadow menu dropdown-content z-[1] bg-base-100 rounded-md w-32">
              <% if user_signed_in? %>
                <li><a href="<%= edit_user_registration_path %>">Edit profile</a></li>
                <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "" %></li>
              <% end %>  
            </ul>
          </details>
        </div>
      <% end %>  
    </ul>
  </div>
</div>