<div class="pr-6 pl-16 2xl:pr-16 sm:pt-6">
  <div class="following">
    <h3 class="text-left text-lg font-semibold mb-4 text-gray-500">Following</h3>
    <ul>
      <% @followed_users.each do |user| %>
        <li class="ml-1 mb-2 opacity-70">
          <%= link_to user_path(user), class: "flex items-center" do %>
            <% if user.profile_photo.attached? %>
              <%= image_tag user.profile_photo, class: "rounded-full w-11 h-11" %>
            <% else %>
              <i class="fa-regular fa-user text-center text-xl rounded-full w- h-11"></i>
            <% end %>
            <span class="ml-3 text-md font-medium"><%= user.username %></span>
          <% end %>
        </li>
      <% end %>  
    </ul>
  </div>
  
  <div class="mt-9 followers">
    <h3 class="text-left text-lg font-semibold mb-4 text-gray-500">Followers</h3>
    <ul>
      <% @following_users.each do |user| %>
        <li class="ml-1 mb-2 opacity-70">
          <%= link_to user_path(user), class: "flex items-center" do %>
            <% if user.profile_photo.attached? %>
              <%= image_tag user.profile_photo, class: "rounded-full w-11 h-11" %>
            <% else %>
              <i class="fa-regular fa-user text-center text-xl rounded-full w- h-11"></i>
            <% end %>
            <span class="ml-3 text-md font-medium"><%= user.username %></span>
          <% end %>
        </li>
      <% end %>  
    </ul>
  </div>

</div>
