<!DOCTYPE html>
<html data-theme="">
  <head>
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen flex flex-col bg-gray-100">
    <div class="navbar h-12 bg-white drop-shadow flex justify-between">
      <div class="" id="left-section">
        <ul class="menu menu-horizontal pl-6 2xl:pl-16 items-center">
          <% if user_signed_in? %>
            <li><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-sm" %></li>
            <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-sm" %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path, class: "btn btn-sm" %></li>
            <li><%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm" %></li>
          <% end %>
          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>
        </ul>
      </div>
      <div class="pr-6 2xl:pr-16" id="right-section">
        <label for="theme-toggle" class="pr-2 text-sm">Toggle theme</label>
        <input type="checkbox" value="cupcake" name="theme-toggle" class="toggle theme-controller"/>
      </div>
    </div>

    <main class="w-full flex-grow bg-gray-100">
      <div class="flex">
        <div class="hidden lg:flex w-full min-w-[280px] max-w-[350px] p-5 text-left">
          <%= render "sidebar_left" %>
        </div>
        <div class="flex-grow shrink mx-auto md:px-2 lg:max-w-[900px] text-center">
          <%= yield %>
        </div>
        <div class="hidden xl:flex w-full min-w-[280px] max-w-[350px] p-5 text-right">
          <%= render "sidebar_right" %> 
        </div>
      </div>      
    </main>
  </body>
</html>
